extends layout 

block content 
    h1 _ALBUMS

    .album-grid
        each album in albums
            .album-group 
                a(href=('/artists/' + album.artist_id)) #{album.artist}
                a(href=(album.url)) _#{album.title}
            