extends layout 

block content 
    h1 _ALBUMS

    .album-grid
        each album in albums
            .album-group 
                a(href=('/artists/' + album.artist_id)) #{album.artist}
                a(href=(album.url)) _#{album.title}
                a(href="/albums/reviews/" + album._id) all reviews 
                .album-update-group 
                    form(action=`/albums/${album._id}?_method=DELETE` method="POST") 
                        input(type="hidden" name="_method" value="DELETE")
                        button(type="submit") delete 
                    form(action=`/albums/${album_id}?_method=PUT` method="POST") 
                        input(type="hidden" name="_method" value="PUT")
                        button(type="submit") update