doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  nav.nav-bar
    .nav-logo 
      a(href='/') home 
    .nav-item 
      a(href='/artists') artists 
    .nav-item 
      a(href='/albums') albums 
  body
    block content
