doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  nav.nav-bar
    .nav-logo 
      p home 
    .nav-item 
      p artists 
    .nav-item 
      p albums 
  body
    block content
