extends layout 

block content 

    .review-container
        h2 _recent reviews
        each review in reviews 
            .review-group 
                p #{review.album} - #{review.artist}
                p #{review.description}

                a(href=`/reviews/${review._id}`) view detail



