body {
  padding: 10% calc(20% + 4rem);
}
*, ::before, ::after {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
/* LAYOUT */
/* navigation */
.nav-bar {
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: lightgray;
}
/* review form */
.review-form {
  width: 20%;
  max-width: 400px;
  position: fixed;
  top: 4rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.no-review-alert {
  margin-top: 1rem;
}
a {
  color: black;
}
a:hover {
  color: gray;
}
button {
  padding: .25rem .5rem;
  background: none;
  border: 1px solid lightgray;
}
button:hover {
  cursor: pointer;
  background: lightgray;
}
input, textarea {
  border: 1px solid lightgray;
}
/* INDEX / MASTER REVEIWS LIST */
.review-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
/* review card */
.review-group {
  position: relative;
  padding: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid lightgray;
}
.review-group:hover {
  background: lightgray;
}
.review-group a {
  position: absolute;
  right: .5rem;
  bottom: .5rem;
}
/* update/delete review */
.review-manage-container {
  margin-top: 1rem;
  position: relative;
}
.manage-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.review-delete-btn {
  margin-top: 1rem;
}
/* ALBUMS */
.album-header {
  margin-bottom: 1rem;
}
/* album card */
.album-grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.album-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 10vmax;
  height: 10vmax;
  border: 1px solid lightgray;
}
.album-group:hover {
  background: lightgray;
}
.album-group-meta {
  margin: .25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.album-update-group {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  display: flex;
  gap: .25rem;
}
.album-detail-title {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}
/* ARTISTS */
.artist-list {
  display: flex;
  flex-direction: column;
}
.artist-group {
  position: relative;
  padding: 2rem 0;
  width: 100%;
  display: flex;
  border-bottom: 1px solid lightgray;
}
.artist-update-group {
  position: absolute;
  bottom: .5rem;
  left: 0;
  display: flex;
  gap: .25rem;
}
.artist-group:hover {
  background: lightgray;
}